@media(max-width:1500px){
    .block1{
        position: relative;
      }
    .content4-block1{
        position: absolute;
        left: 80%;
        display: flex;
        flex-direction: column;
        
    }
    .hora_chamado, .data_chamado{
      display: flex;
     flex-direction: row;
     justify-content: end;
     padding: 4px;
    }
    .content4-block1 label{
        font-size:10px;
        margin-right: 5px;
      }
      #hora_cham{
        background-color: bisque;
        width: 120px;
      }
      .prioridade{}
}