@media screen and (max-width: 1000px) {
    main {
        width: 96%;
    }
    .responsabilidades, .objetivo, .chamado, .view_ordem, .Criar_view_cha, .section_order {
        width: 96%;
    }
}

@media screen and (max-width: 1000px) {
    #userEmail {
      display: none; 
    }
  }