@media (max-width: 567px) {

    .responsabilidades, .objetivo, .chamado {
        width: 97vw;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
    }

    label {
        font-size: 14px;
    }

    input {
        height: 19px;
        font-size: 12px;
    }

    .info-header-order label {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.486);
        width: 100px;
        margin-right: 10px;
        border-bottom: none;

    }

    .prioridade {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .prioridade input {
        margin-left: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .header_cham {
        flex-direction: column;
        width: 100%;
    }

    .dados_cham {
        width: 100%;
        padding: 1rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2%;
    }

    .add_cham {
        align-items: center;
        margin-right: 7%;
    }

    .add_cham img {
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .add_cham button {
        width: 170px;
        height: 30px;
        padding: 5px;
    }

    .num, .situ, #esta {
        width: 80%;
        margin-bottom: 10px;
    }

    #n_cham {
        font-size: 24px;
    }

    #pesquisar {
        width: 130px;
        height: 30px;
        padding: 5px;
    }

    .num_cham button {
        width: 80%;
        margin-bottom: 10px;
    }

    .filtro button {
        width: 100%;
        margin-bottom: 10px;
    }

    select, label {
        width: 100%;
        margin-bottom: 10px;
    }

    .estado, .filtro, .ocult {
        display: none;
    }

}