h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.dados_cad {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

}

.header_cad {
  width: 70%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cadastro {
  display: flex;
  align-items: center;
  font-size: 19px;
  width: 11rem;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

.filtroTec, .filtroLocais, .filtroEquipamentos {
  display: flex;
  align-items: center;
  font-size: 19px;
  width: 11rem;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

select#escolha {
  text-align: center;
  width: 40%;
  padding: 2px;
  border: 2px solid #0a0a0a;
  border-radius: 5px;
  font-size: 16px;
}

select#escolha option {
  background-color: #fff;
  color: #1e21b8;
  font-size: 14px;
}

/* Estilo para a opção selecionada */
select#escolha option:checked {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.escolher {
  color: white;
  font-size: 22px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #0080F5;
  color: rgb(255, 255, 255);
}

th, td {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgba(221, 219, 219, 0.793);
}

tr:hover td {
  font-weight: bold;
  transform: scale(0.98);
}

.icon-large {
  font-size: 23px;
}

.overlay, .overlay-tec, .overlay-setores, .overlay-Tipos, .overlayfiltro-tec, .overlayfiltro-locais, .overlayfiltro-Equipamentos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.popup, .popup-tecnico, .popup-setores, .popup-Tipos, .popoufiltro-locais, .popoufiltro-Equipamentos {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 300px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}

.popoufiltro-tec {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 500px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}

#tabela_tec, #tabela_loc, #tabela_equip {
  width: 70%;
  font-size: 14px;
  margin: 0 auto;
}

.popup-title, .popup-titulo-filtro-tec, .popup-titulo-filtro-locais, .popup-titulo-filtro-Equipamentos {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  background-color: #0080F5;
  border-radius: 12px;
  height: 18%;
  padding: 10px;
  color: aliceblue;
}

.popup-content, .popup-content-tecnico, .popup-content-setor, .popup-content-edit-equip, .popup-content-Cad-Equip {
  margin: 22px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 15px;
  padding: 20px;
  color: aliceblue;
  height: 120px;
}

.popup-label, .popou-label-filtro-tec {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-input, #email {
  display: block;
  width: 80%;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-size: 5px;
}

.popup-center {
  display: flex;
  justify-content: space-between;
}

textarea {
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.popup-buttons {
  text-align: center;
}

.popup-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.salvar, .salvarfiltro-tec, .salvarfiltro-tec, .salvarfiltro-Equipamentos, .salvarfiltro-locais {
  background-color: green;
}

.cancelar, .cancelarfiltro-Equipamentos, .cancelarfiltro-locais, .cancelarfiltro-tec {
  background-color: red;
}

.popup-button:hover {
  background-color: #000000;
}

.display-none {
  display: none;
}

.popou-content-filtro-tec {
  margin: 20px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 10px;
  padding: 5px;
}

.popup-label-filtro-tec, #Técnicos, .popup-label-filtro-mat, #Matricula {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.popou-content-filtro-locais {
  margin: 20px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 10px;
  padding: 5px;
  height: 170px;
}

.popou-label-filtro-email, #email, .popou-label-filtro-tec, #Técnicos, .popou-label-filtro-mat, #Matricula, .popou-label-filtro-local, #local, .popou-label-filtro-Equipamentos, #Equipamentos {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 5px
}

.popou-content-filtro-Equipamentos {
  margin: 20px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 10px;
  padding: 5px;
  height: 170px;
}

#matricula_tecnico, #local_setor, #tipo_equip {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}