* {
  padding: 0;
  margin: 0;
  font-family: 'B612';
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #0080F5;
  justify-content: space-between;
}

.logo {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

#logo {
  margin-left: 0rem;
  padding: 5px 20px;
  width: 50px;
  height: 40px;
}

h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 0.5rem;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}

.nav-right {
  display: flex;
  justify-content: end;
  /* width: 10rem;  */
  padding: 0.5em;
  color: rgb(255, 255, 255);
  width: 80%;
}

.nav-right a img {
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

main h2 {
  font-size: 28px;
  padding: 1rem;
  text-align: center;
}

.dados_manut {
  margin-top: 1rem;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.header_manut {
  background-color: #0080F5;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_manut {
  margin-top: 1rem;
  align-items: center;
}

.search_manut input {
  width: 12rem;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search_manut button {
  margin-left: 5px;
  width: 5rem;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.info_equip {
  width: 40%;
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  font-size: 20px;
}

.info-left {
  width: 60%;

}

.info-rigth {
  width: 40%;
  text-align: left;
  align-items: end;
}

.add_manut {
  display: flex;
  align-items: center;
}

.add_manut button {
  font-size: 18px;
  width: 20rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.icon {
  margin-left: 10px;
  width: 34px;
}

.table_container {
  height: calc(30 * 1em);
  /* Defina a altura da tabela para 10 linhas */

  /* Adicione uma barra de rolagem vertical */
  margin-top: 10px;
}

table {
  width: 60%;
  border-collapse: collapse;
}

thead {
  background-color: rgb(255, 255, 255);
}

th,
td  {
  text-align: center;
  padding: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid black;
  /* Adicione bordas às células */
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.793);
}

tr:hover td {
  font-weight: bold;
  transform: scale(0.98);
  /* Adicione outros estilos aqui, se necessário */
}

/*inicio da interface acima da tabela*/
h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

h5 {
  margin-bottom: 20px;
  font-size: 30px;
}

main h2 {
  font-size: 38px;
  padding: 0, 5rem;
  text-align: center;
}

.cadastro_dados {
  margin-top: 1rem;
  width: 90%;
  margin-left: 23%;
  margin-right: 23%;
}


.header_dados {
  background-color: #0080F5;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_dados input {
  padding-left: 4,5rem;
  text-align: center;
  width: 25rem;
  height: 35px;
  padding: 15px;
  border: none;
  border-radius: 12px;
}

.search_dados{
  color: #ffffff;
}

.dados_Matrícula {
  margin-top: 1rem;
  width: 90%;
  margin-left: 45%;
  margin-right: 45%;
  border-radius: 15px;
}

/*fim da interface acima da tabela*/

/* Início do Design da tabela */

caption {
text-align: center;
}

table {
margin-left: 23%;
width: 100%;
box-sizing: border-box;
border: 3px solid #070707; 
border-collapse: collapse;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
text-align: center;
margin-top: 0px;
/* ajuste o valor de acordo com o espaçamento que você deseja */
}

th,
td {
padding: 10px;
/* adiciona um espaçamento na célula */
}

th {
background-color: #0080F5;
color: white;
}

table td:nth-child(3) {
  background-color: #ffc061;
  }

table td:nth-child(4),
table td:nth-child(5) {
background-color: #990909;
}

th:first-child,
td:first-child {
width: 5%;
/* Define uma largura fixa para a coluna ID */
}


/*inicio do dashboard*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100vh;
}

.menu-lateral {

  width: 60px;
  height: 100vh;
  background-color: #0080F5;
  padding: 10px 0 15px 0%;
  box-shadow: 3px 0 0 rgb(255, 255, 255);
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: .5s;
  text-align: start;

}


.menu-lateral.expandir {
  width: 250px;
}

.btn-expandir {
  width: 100%;
  padding-left: 2px;
}

.btn-expandir>i {
  color: #ffffff;
  font-size: 45px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style: none;
}

ul li.ativo {
  background-color: #0080F5;
}

ul li.item-menu {
  transition: .2s;
}


ul li.item-menu:hover {
  background-color: #0080F5;
}

ul li.item-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size:25px;
  padding: 20px 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  line-height: 45px;
}

ul li.item-menu a .txt-link {
  margin-left: 25px;
}

ul li.item-menu a .icon>i {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

section {
  display: flex;
}

.search_dados:first-child {
  margin-right: 5rem;
}

.menu-lateral:not(.expandir) .txt-link {
  display: none;
}

/*fim do dashboard*/