* {
  padding: 0;
  margin: 0;
  font-family: 'B612';
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #0080F5;
  justify-content: space-between;
}

.logo {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

#logo {
  margin-left: 0rem;
  padding: 5px 20px;
  width: 50px;
  height: 40px;
}

a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 0.5rem;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}

.nav-right {
  display: flex;
  justify-content: end;

  padding: 0.5em;
  color: rgb(255, 255, 255);
  width: 80%;
}

.nav-right a img {
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.dados_cad{
  margin-top: 1rem; 
  /* margin-left: 20%;
  margin-right: 5%; */
 display: flex;
 justify-content: center;

}
.header_cad{
  width: 68%;
  background-color: #0080F5;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cadastro{
  display: flex;
  align-items: center;
  font-size: 19px;
  width:11rem ;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

#filtro{
  display: flex;
  align-items: center;
  font-size: 19px;
  width:11rem ;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

.escolher{
  color: white;
  font-size: 22px;
}

#tabela_tec {
  background-color: #0080F5;
  text-align: center;
  border-collapse: collapse;
  width: 70%; /* Aumentei a largura para 70% */
  margin: 0 auto; /* Centralizei a tabela horizontalmente */
}

#tabela_tec th {
  background-color: #0080F5; /* Cor de fundo para cabeçalhos */
  color: white; /* Cor do texto dos cabeçalhos */
  font-weight: bold; /* Texto em negrito nos cabeçalhos */
  padding: 10px; /* Espaçamento interno nos cabeçalhos */
}

#tabela_tec td {
  background-color: #E7E7E7; /* Cor de fundo para células de dados */
  padding: 8px; /* Espaçamento interno nas células de dados */
}

#tabela_tec button {
  background-color: #FF5733; /* Cor de fundo para os botões */
  color: white; /* Cor do texto dos botões */
  border: none; /* Removi a borda dos botões */
  padding: 5px 10px; /* Espaçamento interno nos botões */
  border-radius: 5px; /* Arredondamento dos botões */
  cursor: pointer; /* Alterei o cursor para indicar que os botões são clicáveis */
}

#tabela_loc button:hover {
  background-color: #E6410C; /* Cor de fundo quando hover nos botões */
}

#tabela_loc {
  background-color: #0080F5;
  text-align: center;
  border-collapse: collapse;
  width: 70%; /* Aumentei a largura para 70% */
  margin: 0 auto; /* Centralizei a tabela horizontalmente */
}

#tabela_loc th {
  background-color: #0080F5; /* Cor de fundo para cabeçalhos */
  color: white; /* Cor do texto dos cabeçalhos */
  font-weight: bold; /* Texto em negrito nos cabeçalhos */
  padding: 10px; /* Espaçamento interno nos cabeçalhos */
}

#tabela_loc td {
  background-color: #E7E7E7; /* Cor de fundo para células de dados */
  padding: 8px; /* Espaçamento interno nas células de dados */
}

#tabela_loc button {
  background-color: #FF5733; /* Cor de fundo para os botões */
  color: white; /* Cor do texto dos botões */
  border: none; /* Removi a borda dos botões */
  padding: 5px 10px; /* Espaçamento interno nos botões */
  border-radius: 5px; /* Arredondamento dos botões */
  cursor: pointer; /* Alterei o cursor para indicar que os botões são clicáveis */
}

#tabela_loc button:hover {
  background-color: #E6410C; /* Cor de fundo quando hover nos botões */
}


#tabela_loc button:hover {
  background-color: #E6410C; /* Cor de fundo quando hover nos botões */
}

#tabela_equip {
  background-color: #0080F5;
  text-align: center;
  border-collapse: collapse;
  width: 70%; /* Aumentei a largura para 70% */
  margin: 0 auto; /* Centralizei a tabela horizontalmente */
}

#tabela_equip th {
  background-color: #0080F5; /* Cor de fundo para cabeçalhos */
  color: white; /* Cor do texto dos cabeçalhos */
  font-weight: bold; /* Texto em negrito nos cabeçalhos */
  padding: 10px; /* Espaçamento interno nos cabeçalhos */
}

#tabela_equip td {
  background-color: #E7E7E7; /* Cor de fundo para células de dados */
  padding: 8px; /* Espaçamento interno nas células de dados */
}

#tabela_equip button {
  background-color: #FF5733; /* Cor de fundo para os botões */
  color: white; /* Cor do texto dos botões */
  border: none; /* Removi a borda dos botões */
  padding: 5px 10px; /* Espaçamento interno nos botões */
  border-radius: 5px; /* Arredondamento dos botões */
  cursor: pointer; /* Alterei o cursor para indicar que os botões são clicáveis */
}

#tabela_equip button:hover {
  background-color: #E6410C; /* Cor de fundo quando hover nos botões */
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

#popup-tec {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 270px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}
#popup-loc {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 270px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}
#popup-equip {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 270px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  background-color:#0080F5;
  border-radius: 12px;
  height: 12%;
  padding: 10px;
  color: aliceblue;
}

.popup-content {
  margin: 22px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 15px;
  padding: 10px;
  color:aliceblue;
}

.popup-label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:10px;
}

.popup-input {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-input, #tag {
  display: block;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.popup-input, #tipo {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.popup-header{
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-size: 5px;
}

.popup-center{
  display: flex;
  justify-content: space-between;
}

textarea{
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-buttons {
  text-align: center;
}

.popup-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.salvar{
  background-color: green;
}
.cancelar{
  background-color: red;
}
.popup-button:hover {
  background-color: #000000;
}
.display-none{
  display: none;
}

