*{
    padding: 0;
    margin: 0;
    font-family: 'B612';
}

 h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
 }
 .header_Ord{
    background-color: #0080F5;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.dados_Ord{
    margin-top: 1rem; 
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }

.num_Ord{
  margin-top: 22px;
    color:white;
    font-size:25px;
    text-align: center;
}

.num {
    border-radius: 2%;
    border: none;
    width: 12rem;
    height: 28px;
    padding: 5px;
    font-size: 16px;
}

.estadoOrd {
    color:white;
    font-size:25px;
    text-align: center;
}

#estaOrd {
  margin-top: 10%;
    border-radius: 2%;
    border: none;
    width: 9rem;
    height: 32px;
    font-size: 16px;
}

.situacao {
    color:white;
    font-size:25px;
    text-align: center;
}

.situ {
    border-radius: 2%;
    border: none;
    width: 11rem;
    height: 32px;
    font-size: 16px;
}

.add_cham{
    display: flex;
    align-items: center;
}
.add_cham button{
    font-size: 18px;
    width:13rem ;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.filtroOrd {
    display: flex;
    align-items: center;
}
.filtroOrd button{
    font-size: 18px;
    width:8rem ;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.num_cham button{
  font-size: 18px;
  width:6rem ;
  padding: 8px;
  border: none;
  border-radius: 8px;
}
.icon_cham{
    margin-left: 8px;
    width: 37px;
}

.table-container {
    height: calc(30 * 1em); /* Defina a altura da tabela para 10 linhas */
    /* overflow-y: scroll; Adicione uma barra de rolagem vertical */
    overflow-y: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: #0080F5;
    color: rgb(255, 255, 255);
  }

  th, td {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom:10px;
    border: 1px solid black; 
  }

  tr:nth-child(even) {
    background-color: rgba(221, 219, 219, 0.793);
  }

  tr:hover td {
    font-weight: bold;
    transform: scale(0.98);
    
  }

  .visualizarOrd {
    background-color: green;
    color: white;
    width: 100%;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
  }
  /* filtro */
.overlayOrdem{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.popupOrdem {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 850px;
  height: 700px;
  background-color: white;
  z-index: 2;
  display: none;
  border-radius: 10px;
}

.popup-title-filter-Ordem {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  background-color:#0080F5;
  border-radius: 10px;
  height: 10%;
  padding: 10px;
  color: aliceblue;
}

.popup-content-filter-Ordem {
  margin: 20px;
  border: 1px solid black;
  background-color: #0080F5;
  border-radius: 10px;
  padding: 5px;
}

.popup-label-filter-Ordem {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-input-filter-Ordem {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-input-filter-Ordem, #tag {
  display: block;
  width: 80%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-input-filter-Ordem, #tipo {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-input-filter-Ordem, #local {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-header-filter-Ordem{
  display: flex;
  justify-content: space-between;
}
.popup-header-filter-Ordem{
  display: flex;
  flex-direction: column;
}
.numero-chamado-input-Ordem {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.popup-center-filter-Ordem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
select{
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
textarea{
  border-radius: 5px;
  display: block;
  padding: 5px;
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.popup-buttons {
  text-align: center;
}

.popup-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.salvar{
  background-color: green;
}
.cancelar{
  background-color: red;
}
.popup-button:hover {
  background-color: darkblue;
}

#pesquisar {
  font-size: 18px;
  width:8rem ;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#limpar-filtro{
  font-size: 18px;
  width:8rem ;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#nova_ord{
  font-size: 18px;
  width:13rem ;
  padding: 8px;
  border: none;
  border-radius: 8px;
}