body{
    background-color:#cae2f4c2;
}
main{
    margin: 10px;
    box-shadow: 1px 1px 5px  black;
    padding: 5px;
    border-radius: 5px;
}
.section_order main {
    width: 60%;
}
input{
    padding: 1px;
    margin: 2px;
    padding-left: 3px;
    box-shadow: 1px rgba(0, 0, 0, 0);
}
.nav_infos{
    margin: 10px;
    box-shadow: 1px 1px 5px  black;
    padding: 5px;
    border-radius: 5px;
    
}
.nav_infos button{
    padding: 3px;
    margin: 2px;
    padding-left: 3px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  black;
}
.title-page{
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}
.title-page h2{
    font-size: 18px;
    padding: 5px;
    background-color: #8CB1DA;
}
.icons{
    padding: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}
.icons img{
    width: 22px;
}
.icons button{
    margin: 1px;
    background-color: transparent;
    border: none;
}

.info-header-order{
    margin: 4px;
}
.info-header-order input{
        /* width: 260px; */
        
}
.info-header-order label{
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    width: 140px;
    margin-right: 10px;
    
}
#prioridade{
    width: 45px;
    text-align: center;
    background-color:#8CB1DA ;
}
#ordem{
    width: 110px;
    margin-right: 10px;
    background-color: #8CB1DA
}
#title-order{
    width: 300px;
    background-color: #FEF09E;
  
}
.dados_chmado{
    margin: 10px;
    box-shadow: 1px 1px 5px  black;
    
}
.referencias{
    font-size: 12px;
    padding: 5px;
    background-color: #8cb0daad;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    margin-bottom: 10px;
}


.dados_chamado{

}
.label-margin{
    margin-right: 30px;
}
.input_chamado{
    width: 300px;
}
.responsabilidades, .objetivo, .chamado{
    width: 75vw;
    
}
.title{
    font-size: 12px;
    padding: 5px;
    background-color: #8cb0daad;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    margin-bottom: 10px; 
}
.tecs input{
    margin-right: 5px;
}
.descrição{
    padding: 5px;
}
#btn-anexo{
    border: none;
    background-color: transparent;
}
.display_none{
    display: none;
}
textarea {
    resize: vertical; /* Permite apenas redimensionamento vertical */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal se o conteúdo exceder */
  }
  .prioridade{
    width: 50%;
    display:inline;
    align-items: center;
}
/* .chamado {
    width: 60%;
}
.responsabilidades {
    width: 60%;
}

.objetivo {
    width: 60%;
}

main {
    width: 99%;
}

.section_order {
    width: 75%;
}


.view_ordem {
    width: 99%; 

}

.Criar_view_cha {
    width: 95%;
} */
