*{
  padding: 0;
  margin: 0;
  font-family: 'B612';
}  
/* header{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #0080F5;
  justify-content: space-between;
}

.logo{
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

button{
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

h1{
margin-bottom: 50px;
font-size: 30px;
text-align: center;
}
h4{
  margin-bottom: 20px;
  font-size: 20px;
}
#filtro {
position: absolute;
right: 95px; 
top: 34%;
transform: translateY(-50%);
}
a{
  color:white;
  text-decoration: none;
}
ul{
  display: flex;
}
li{
  margin-left: 0.5rem;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}
.nav-right{
 display: flex;
 justify-content: end;
 padding: 0.5em;
 color: rgb(255, 255, 255);
 width: 100%;
}
.nav-right a img {
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
} */
/* #logo{
margin-left: 0rem;
padding: 5px 20px;
width: 90px;
height: 50px;
} */

.colaborador-input {
  margin-bottom: 25px;
  }

  .name-input label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  }

.name-input .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }

/*inicio do código de dasing da tela de horas*/
main h1{
font-size: 35px;
padding: 1rem;
text-align: center;
}

h4{
  margin-bottom: 20px;
  font-size: 20px;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
  
}

.header-bg{
  background: #0080F5;
}

.header{
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}

.header-menu{
  display: flex;
  align-items: center;
  gap: 20px;
}

#admin{
  text-decoration: underline;
}

/* form */
/* Estilos para o campo de entrada Colaborador e Emissor */
#emissor {
  width: 300px; /* Largura desejada para ambos os campos */
  padding: 10px;
  border-radius: 4px;
}
#Emissor {
  width: 300px; /* Largura desejada para ambos os campos */
  padding: 10px;
  border-radius: 4px;
}

/* Estilos para o campo de entrada Tempo */
input[type="time1"] {
  padding: 5px;
  border-radius: 4px;
  width: 150px; /* Largura desejada para o campo de tempo */
}

/* Estilos para o campo de entrada Quantidade */
input[type="number1"] {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px; /* Adicione uma margem esquerda para mover para a direita */
  width: 200px; /* Largura desejada para o campo de quantidade */
}

input[type="time2"] {
  padding: 5px;
  border-radius: 4px;
  width: 150px; /* Largura desejada para o campo de tempo */
}

/* Estilos para o campo de entrada Quantidade */
input[type="number2"] {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px; /* Adicione uma margem esquerda para mover para a direita */
  width: 200px; /* Largura desejada para o campo de quantidade */
}

/* Estilos para o rótulo Emissor */
.segunda-linha-form div label[for="Emissor"] {
  margin-left: 38px; /* Ajuste o valor da margem esquerda conforme necessário */
  width: 300px; /* Ajusta a largura do rótulo Emissor */
}

/* Ajuste o posicionamento do campo de entrada Emissor */
#Emissor {
  margin-left: 38px; /* Ajuste o valor da margem esquerda conforme necessário */
}

.form{
  margin-top: 2px;
  background: #0080F5;
  padding: 40px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primeira-linha-form{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.tempo-quantidade{
  display: flex;
  gap: 30px;
  align-items: center;
}

label{
  color: #fff;
  font-size: 1.2rem;
}

select{
  width: 450px;
  padding: 10px;
  border-radius: 4px;
  margin-top: px;
}

input{
  padding: 6px;
  border-radius: 4px;
  outline: none;
  width: 146px;
  border: none;
}

.tempo label, .quantidade label {
  text-align: center;
  display: block;
}

.segunda-linha-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.periodo{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 47px;
}

/* footer */

.footer{
  margin-right: 40px; /* Adicione uma margem esquerda para mover para a direita */
  margin-top: -37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.footer p {
  color: #000000;
  background: #ffffff;
  padding: 6px 20px;
  border-radius: 4px;
}

/* Estilos para o botão de envio */
.submit-button {
  background-color: #321ee7; /* Cor de fundo do botão */
  color: black; /* Cor do texto do botão */
  border: none; /* Remova a borda padrão do botão */
  padding: 10px 10px; /* Espaçamento interno do botão */
  border-radius: 4px; /* Borda arredondada */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  width: 150px; /* Largura desejada do botão */
  height: 40px; /* Altura desejada do botão */
}

/* Estilos quando o mouse passa sobre o botão */
.submit-button:hover {
  background-color: rgb(156, 109, 204);
}
      .titulo{
        display: flex;
        justify-content: center;
      }
      /* Estilos para a tabela */
.custom-table {
  width: 53%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
  overflow-y: auto; /* Adiciona a rolagem vertical quando necessário */
}

/* Estilos para a legenda da tabela */
.custom-table caption {
  caption-side: bottom;
  text-align: left;
  font-style: italic;
  font-size: 14px;
  margin: 2px 0;
}

/* Estilos para o cabeçalho da tabela */
.custom-table th {
  background-color: #0080F5;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Estilos para as células de dados da tabela */
.custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
/* Estilos para as células de dados da tabela */
.custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white; /* Define o fundo das células como branco */
}
