*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}
header{
  display: flex;
  width: 100%; 
  height: 100px;
  background-color: #0080F5;
  justify-content: space-between;
}

.logo{
  box-sizing: border-box; 
  display: flex;
}
button{
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}
#logo{
  margin-left: 0rem;
  padding: 5px 20px;
  width: 90px;
  height: 50px;
}

.colaborador-input {
  margin-bottom: 25px;
  }

  .name-input label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  }

.name-input .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }

main h1{
font-size: 35px;
padding: 1rem;
text-align: center;
}

h4{
  margin-bottom: 20px;
  font-size: 20px;
}
a{
  color:white;
  text-decoration: none;
}
ul{
  display: flex;
}
li{
  margin-left: 0.5rem;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}
.nav-right{
display: flex;
justify-content: end;
/* width: 10rem;  */
padding: 0.5em;
color: aliceblue;
} 
.nav-right a img {
 width: 30px;
 height: 30px;
 margin-left: 0.8rem;
 margin-right: 0.8rem;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
  
}

a{
  display: block;
  color: #fff;
}

.header-bg{
  background: #0080F5;
}

.header{
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}

.header-menu{
  display: flex;
  align-items: center;
  gap: 20px;
}

#admin{
  text-decoration: underline;
}

/* form */

.form{
  margin-top: 100px;
  background: #0080F5;
  padding: 40px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primeira-linha-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tempo-quantidade{
  display: flex;
  gap: 30px;
  align-items: center;
}

label{
  color: #fff;
  font-size: 1.2rem;
}

select{
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  margin-top: px;
}

span{
  color: #fff;
}

input{
  padding: 6px;
  outline: none;
  width: 150px;
  border-radius: 4px;
  border: none;
}

.tempo label, .quantidade label {
  display: block;
}

.segunda-linha-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.periodo{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* footer */

.footer{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.footer p {
  color: #000000;
  background: #ffffff;
  padding: 6px 20px;
  border-radius: 4px;
}

body {
    text-align: left;
    font-family: arial;
    position: relative;
    
    }
    table td, table th {
    border:0.3px solid black;
    border-collapse:collapse;
    
    }
    table caption {
      caption-side:bottom;
      text-align:left;
      font-style: italic;
      font-size: 10px;
      margin: 2px 0;
    }
    th,td{
    padding:1px 28px;
    }  

    th{
    background-color: #0080F5;
    color: white;
    }
  
    .tableform{ 
      margin: 100px auto;
        width: 50%;
        height: 400px;
        overflow: center;
    }
    .tableform::-webkit-scrollbar{ 
        width: 10px;
        border-radius: 10px;
        border: 1px solid #0080F5;
    }
    .tableform::-webkit-scrollbar-thumb{ /* botao do scroll bar, esse que ta em cinza*/
        background-color: rgb(80, 208, 215);
        border-radius: 10px;
        
    }

      .titulo{
        display: flex;
        justify-content: center;
      }