* {
  padding: 0;
  margin: 0;
  font-family: "B612";
}
/* header{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #0080F5;
  justify-content: space-between;
}

.logo{
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

button{
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

h1{
margin-bottom: 50px;
font-size: 30px;
text-align: center;
}
h4{
  margin-bottom: 20px;
  font-size: 20px;
}
#filtro {
position: absolute;
right: 95px; 
top: 34%;
transform: translateY(-50%);
}
a{
  color:white;
  text-decoration: none;
}
ul{
  display: flex;
}
li{
  margin-left: 0.5rem;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}
.nav-right{
 display: flex;
 justify-content: end;
 padding: 0.5em;
 color: rgb(255, 255, 255);
 width: 100%;
}
.nav-right a img {
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
} */
/* #logo{
margin-left: 0rem;
padding: 5px 20px;
width: 90px;
height: 50px;
} */

/*inicio do código de dasing da tela de horas*/
main h1 {
  font-size: 35px;
  padding: 1rem;
  text-align: center;
}

h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.container {
  width: 62%;
  margin: 0 auto;
  padding: 20px;
}
/* form */
/* Estilos para o campo de entrada Colaborador e Emissor */
#selectTec {
  width: 55%; /* Largura desejada para ambos os campos */
  padding: 10px;
  border-radius: 4px;
}
#Emissor {
  width: 65%; /* Largura desejada para ambos os campos */
  padding: 10px;
  border-radius: 4px;
  margin-left: 38px; /* Ajuste o valor da margem esquerda conforme necessário */
}

input[type="time"],
input[type="number"] {
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

.form {
  margin-top: 2px;
  background: #0080f5;
  padding: 40px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primeira-linha-form {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.tempo-quantidade {
  display: flex;
  gap: 30px;
  align-items: center;
}

label {
  color: #fff;
  font-size: 1.2rem;
}

input {
  padding: 6px;
  border-radius: 4px;
  outline: none;
  width: 40%;
  border: none;
}

.tempo label,
.quantidade label {
  text-align: center;
  display: block;
}

.segunda-linha-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.periodo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 47px;
}

/* footer */

.footer {
  margin-right: 5%; /* Adicione uma margem esquerda para mover para a direita */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.footer p {
  color: #000000;
  background: #ffffff;
  padding: 6px 20px;
  border-radius: 4px;
}

/* Estilos para o botão de envio */
.submit-button {
  background-color: #321ee7;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  height: 40%;
}

/* Estilos quando o mouse passa sobre o botão */
.submit-button:hover {
  background-color: rgb(36, 107, 199);
}
.titulo {
  display: flex;
  justify-content: center;
}

/* Estilos para a tabela */
.table-container {
  height: calc(20 * 1em); /* Defina a altura da tabela para 10 linhas */
  /* overflow-y: scroll; Adicione uma barra de rolagem vertical */
  overflow-y: auto;
  margin: 0 auto; /* Centraliza horizontalmente */
  width: 60%; /* Define a largura da tabela */
}

/* Resto do seu CSS para a tabela */
table {
  border-collapse: collapse;
  width: 100%; /* Define a largura da tabela como 100% para ocupar todo o espaço disponível no container */
}

/* Resto do seu CSS para a tabela */

thead {
  background-color: #0080f5;
  color: rgb(255, 255, 255);
}

/* Estilos para o cabeçalho da tabela */
th,
td {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid black; /* Adicione bordas às células */
}

tr:nth-child(even) {
  background-color: rgba(221, 219, 219, 0.793);
}

tr:hover td {
  font-weight: bold;
  transform: scale(0.98);
  /* Adicione outros estilos aqui, se necessário */
}
