*{
    padding: 0;
    margin: 0;
    font-family: 'B612';
}  
/* header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0080F5;
    justify-content: space-between;
}
h1{
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
}
.logo{
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
button{
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}
#logo{
    margin-left: 0rem;
    padding: 5px 20px;
    width: 50px;
    height: 40px;
}
h4{
    margin-bottom: 20px;
    font-size: 20px;
}
a{
    color:white;
    text-decoration: none;
}
ul{
    display: flex;
}
li{
    margin-left: 0.5rem;
    list-style: none;
    padding: 1rem;
    font-size: 1rem;
}
.nav-right{
   display: flex;
   justify-content: end;
   padding: 0.5em;
   color: aliceblue;
   width: 100%;
}
.nav-right a img {
    width: 30px;
    height: 30px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
 }
  */

  body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
 main h2{
    color: #fff;
    font-size: 28px;
    padding: 1rem;
    text-align: center;
 }
 .dados_manut{
   margin-top: 1rem; 
   width:90%;
   margin-left: 5%;
   margin-right: 5%;
 }
 .header_manut{
    background: linear-gradient(90deg, rgb(34, 18, 253) 0%, rgba(23, 23, 167, 0.411)35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .search_manut{
    margin-top: 1rem;
    align-items: center;
    color: white;
 }
 .search_manut input{
    width: 12rem;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
 }
 .search_manut button{
    margin-left: 5px;
    width: 5rem;
    height: 35px;
    padding: 5px;
    border: none;
    border-radius: 5px;
 }
 .info_equip{
    width: 40%;
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
 }
 .info-left{
    width: 60%;
    
 }
.info-rigth{
    width: 40%;
    text-align: left;
    align-items: end;
}
.add_manut{
       display: flex;
       align-items: center;
}
.add_manut button{
       font-size: 18px;
       width:20rem ;
       padding: 10px;
       border: none;
       border-radius: 10px;
}

.icon{
        margin-left: 10px;
        width: 34px;
}
.table-container {
    height: calc(30 * 1em); /* Defina a altura da tabela para 10 linhas */
    /* overflow-y: scroll; Adicione uma barra de rolagem vertical */
    overflow-y: auto;
  }
  
  table {
    color: #fff;
    width: 100%;
    border-collapse: collapse;
    background-color: #100f41;
}

thead {
    background-color: #007BFF;
    font-weight: bold;
}

th, td {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom:10px;
    border: 1px solid white; 
}

tr {
    background: rgba(0, 123, 255, 0.5); 
}

tr:nth-child(even) {
    background: rgba(0, 213, 255, 0.384);
}

 .tabela-container {
    width: 500px;
    overflow-x: scroll;
    float: right;
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.overlay-edit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 850px;
    height: 600px;
    background-color: white;
    z-index: 2;
    display: none;
    border-radius: 10px;
}
.popup-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 850px;
    height: 600px;
    background-color: white;
    z-index: 2;
    display: none;
    border-radius: 10px;
}

.popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background-color:#0080F5;
    border-radius: 10px;
    height: 10%;
    padding: 10px;
    color: aliceblue;
}

.popup-content {
    margin: 20px;
    border: 1px solid black;
    background-color: #0080F5;
    border-radius: 10px;
    padding: 10px;
    color:aliceblue;
}

.popup-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.popup-input, #tag {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.popup-input, #tipo {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.popup-input, #local, #LOCAL {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

    /* Estilo para o textarea */
    #desc {
        width: 100%; /* Defina a largura desejada aqui */
        resize: none; /* Impede o redimensionamento horizontal */
    }


.popup-header{
    display: flex;
    justify-content: space-between;
}

.popup-center{
    display: flex;
    justify-content: space-between;
}
select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
textarea{
    border-radius: 5px;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.popup-buttons {
    text-align: center;
}

.popup-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.salvar{
    background-color: green;
}
.cancelar{
    background-color: red;
}
.popup-button:hover {
    background-color: #000000;
}


.overlayfiltro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.popoufiltro {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 850px;
    height: 860px;
    background-color: white;
    z-index: 2;
    display: none;
    border-radius: 10px;
}

.popup-titulo-filtro {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background-color:#0080F5;
    border-radius: 10px;
    height: 10%;
    padding: 10px;
    color: aliceblue;
}

.popou-content-filtro {
    margin: 20px;
    border: 1px solid black;
    background-color: #0080F5;
    border-radius: 10px;
    padding: 5px;
}
.popup-input-filtro, #Tag {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Tipo {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Modelo {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Número_Série {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
 
  .popup-input-filtro, #Área_Climatizada {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Localidade {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Setor {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  .popup-input-filtro, #Descrição {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
.popou-label-filtro {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup-input-filtro {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
textarea{
    border-radius: 5px;
    display: block;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
.popup-buttons {
    text-align: center;
  }
.popup-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.salvarfiltro {
    background-color: green;
}

.cancelarfiltro {
    background-color: red;
}
.popup-button:hover {
    background-color: darkblue;
  }
.btn-excluir{
   
}